.b-main{
    background-color: #01a66e;
    height: 800px;
}

.Bank-img img{
    width: 50%;
    height: 400px; 
}

.Bank-text{
    border: 5px solid black;
    margin: 5% 0 0 15%;
    width: 70%;
    height: auto;
    border-radius: 20px;
    padding: 30px;
}

.Bank-text p{
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

@media (max-width: 880px){
    .BankImage{
        display: none;
    }
    .Bank-img img{
        width: 100%;
        height: 200px;
        
    }
    .Bank-text{
        border: none;
    }
    
    .Bank-text p{
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }

}
